*{
  margin: 0;
  padding: 0;
}
body, html {
  margin:0;
  padding:0;
  line-height: 1.5em;
  height: 100%;
  width: 100%;
}
body{
  height: 100vh;
  background:
  linear-gradient(rgba(42, 38, 61, 0.82),rgba(42, 38, 61, 0.82)),
  url('../img/about.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  font-family: Pacifico;
}
img{
  width: 50px;
  height: 50px;
  margin-top: 50px;
  animation: slideUp 1.2s ease;
}
a{
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  z-index: 99;
  animation: slideUp 0.9s ease;
}
h1{
  margin: auto;
  padding-top: 14px;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 84px;
  text-align: center;
  padding: 25px 100px 70px 100px;
  color: #FCB371;
  animation: slideUp 1.4s ease;
}
p{
  margin: auto;
  width: 768px;
  height: 190px;
  color: white;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  animation: slideUp 1.6s ease;
}

@keyframes slideUp{
  0%{
    transform: translateY(250px);
    } 100% {
      transform: translateY(0);
    }
  }